<html>
    <head>
        <style>

           .box {
               display: flex;
               flex-wrap: wrap;
           }

           .card {
               min-width: 150px;
               flex: 1;
               padding: 10px;
               margin: 2;
               border-style: solid;
               border-color: black;
               border-width: 1px;
           }
        </style>
    </head>
    <body>
        <div class="box">
            <% @cars.each do | car |  %>
                <div class="card">
                    <h3><%="#{car.make} #{car.model}" %></h3>
                    <%= car.color %>
                    <a href="<%= edit_car_path(car.id) %>">Edit</a>
                </div>
            <% end %>
        </div>
    </body>
</html>
