<h1>Create New Car</h1>
<form method="POST" action="/cars">
    <div>
        <label>Make</label>
        <input name="car[make]" type="text"/>
    </div>
        <div>
        <label>Model</label>
        <input name="car[model]" type="text"/>
    </div>
        <div>
        <label>Color</label>
        <input name="car[color]" type="color"/>
    </div>
    <button>Submit</button>
</form>