<h1>Create New Car</h1>
<form method="POST" action="/cars">
    <div>
        <label>Make</label>
        <input name="make" type="text"/>
    </div>
        <div>
        <label>Model</label>
        <input name="model" type="text"/>
    </div>
        <div>
        <label>Color</label>
        <input name="color" type="color"/>
    </div>
    <button>Submit</button>
</form>